.calendar
    .calendar_header
        span(class="material-icons") arrow_back
        p.current_month_and_year
        span(class="material-icons") arrow_forward
    .calendar_table
        table
            tr
                th Пн
                th Вт
                th Ср
                th Чт
                th Пт
                th Сб
                th Вс
            tr
                td
                td
                td
                td
                td
                td
                td
            tr
                td
                td
                td
                td
                td
                td
                td
            tr
                td
                td
                td
                td
                td
                td
                td
            tr
                td
                td
                td
                td
                td
                td
                td
            tr
                td
                td
                td
                td
                td
                td
                td
    .calendar_footer
        p.button_clear очистить
        p.button_apply применить


