.guests_dropdown
        .guests_dropdown_field
            p.guests_count Сколько гостей
            span.field_button(class="material-icons") expand_more
        .guests_dropdown_list
            .list_item
                p.item_name взрослые
                .item_calculator
                    span.calculator_minus -
                    span.calculator_value 0
                    span.calculator_plus +
            .list_item
                p.item_name дети
                .item_calculator
                    span.calculator_minus -
                    span.calculator_value 0
                    span.calculator_plus +
            .list_item
                p.item_name младенцы
                .item_calculator
                    span.calculator_minus -
                    span.calculator_value 0
                    span.calculator_plus +
            .list_footer
                p.footer_button_clear очистить
                p.footer_button_apply применить