header
    .header
       .header_logo
       .header_nav
            ul.nav_menu
                li
                    a.nav_menu_item(href="") О нас
                li
                    a.nav_menu_item(href="") Услуги
                li
                    a.nav_menu_item(href="") Вакансии
                li
                    a.nav_menu_item(href="") Новости
                li
                    a.nav_menu_item(href="") Соглашения

