mixin room(number, price, users_reviews, room_star)
    .room
        .room_img
            .expand_more
                span(class="material-icons") chevron_left
                span(class="material-icons") chevron_right
            .slider
                span.slider_ellipse
                    svg(width='19' height='18' viewbox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(filter='url(#filter0_d)')
                            ellipse(cx='9.50244' cy='4.14244' rx='3.75' ry='3.74693' fill='white')
                        defs
                            filter#filter0_d(x='0.752441' y='0.395508' width='17.5' height='17.4939' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                                feflood(flood-opacity='0' result='BackgroundImageFix')
                                fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
                                feoffset(dy='5')
                                fegaussianblur(stddeviation='2.5')
                                fecolormatrix(type='matrix' values='0 0 0 0 0.121569 0 0 0 0 0.12549 0 0 0 0 0.254902 0 0 0 0.3 0')
                                feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
                                feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
                span.slider_ellipse
                    svg(width='18' height='18' viewbox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(filter='url(#filter1_d)')
                            path(d='M12.0024 4.14244C12.0024 5.93528 10.5478 7.38937 8.75244 7.38937C6.95713 7.38937 5.50244 5.93528 5.50244 4.14244C5.50244 2.34959 6.95713 0.895508 8.75244 0.895508C10.5478 0.895508 12.0024 2.34959 12.0024 4.14244Z' stroke='white')
                        defs
                            filter#filter1_d(x='0.00244141' y='0.395508' width='17.5' height='17.4939' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                                feflood(flood-opacity='0' result='BackgroundImageFix')
                                fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
                                feoffset(dy='5')
                                fegaussianblur(stddeviation='2.5')
                                fecolormatrix(type='matrix' values='0 0 0 0 0.121569 0 0 0 0 0.12549 0 0 0 0 0.254902 0 0 0 0.3 0')
                                feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
                                feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
                span.slider_ellipse
                    svg(width='18' height='18' viewbox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(filter='url(#filter1_d)')
                            path(d='M12.0024 4.14244C12.0024 5.93528 10.5478 7.38937 8.75244 7.38937C6.95713 7.38937 5.50244 5.93528 5.50244 4.14244C5.50244 2.34959 6.95713 0.895508 8.75244 0.895508C10.5478 0.895508 12.0024 2.34959 12.0024 4.14244Z' stroke='white')
                        defs
                            filter#filter1_d(x='0.00244141' y='0.395508' width='17.5' height='17.4939' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                                feflood(flood-opacity='0' result='BackgroundImageFix')
                                fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
                                feoffset(dy='5')
                                fegaussianblur(stddeviation='2.5')
                                fecolormatrix(type='matrix' values='0 0 0 0 0.121569 0 0 0 0 0.12549 0 0 0 0 0.254902 0 0 0 0.3 0')
                                feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
                                feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
                span.slider_ellipse
                    svg(width='18' height='18' viewbox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(filter='url(#filter1_d)')
                            path(d='M12.0024 4.14244C12.0024 5.93528 10.5478 7.38937 8.75244 7.38937C6.95713 7.38937 5.50244 5.93528 5.50244 4.14244C5.50244 2.34959 6.95713 0.895508 8.75244 0.895508C10.5478 0.895508 12.0024 2.34959 12.0024 4.14244Z' stroke='white')
                        defs
                            filter#filter1_d(x='0.00244141' y='0.395508' width='17.5' height='17.4939' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                                feflood(flood-opacity='0' result='BackgroundImageFix')
                                fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
                                feoffset(dy='5')
                                fegaussianblur(stddeviation='2.5')
                                fecolormatrix(type='matrix' values='0 0 0 0 0.121569 0 0 0 0 0.12549 0 0 0 0 0.254902 0 0 0 0.3 0')
                                feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
                                feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
        .room_description
            .room_description_container
                .room_description_header
                    .number
                        span= number 
                        span.number_comfort_level
                    span.price= price
                .room_description_footer
                    .rating(id=room_star)
                        span.rating_star
                        span.rating_star
                        span.rating_star
                        span.rating_star
                        span.rating_star
                    span.reviews= users_reviews