/* header */

$header-color: white;
$main-font: 'Montserrat';

.header {
    height: 69px;
    width: 100%;
    background-color: $header-color;
    box-shadow: 0px 10px 20px $darkshade5;
}

.header_container {
    height:inherit;
    width: 80.5556%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* header_logo */

.header_logo {
    width: 9.11%;
    margin-top: 15px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_image {
    height: inherit;
    position: relative;
}

.vector_left {
    position: absolute;
    left: 9.41px;
    top: 15.29px;
}

.vector_right {
    position: absolute;
    left: 21.47px;
    top: 15.29px;
}

.logo_name {
    height: 12.95px;
    margin-top: 13.33px;
}

/* nav_menu */

.header_nav_menu {
    height: 34px;
    width: 66.293%;
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul  li {
    display: flex;
    flex-direction: row;
    height: 34px;
    cursor: pointer;

    a {
        display: flex;
        height: 18px;
        margin-top: 2px;
        color: $darkshade50;
        font-family: $main-font;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
    }

    .expand_more_1, .expand_more_2 {
        height: 21px;
        
        span {
            height: inherit;
            display: flex;
            align-items: center;
            text-align: center;
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 20px;
            color: $darkshade50;
        }
    }

    .expand_more_1{
        width: 32.432%;
    }

    .expand_more_2 {
        width: 20.689%;
    }

}

.header_nav_menu_item_1 {
    width: 5.462%;
    padding-top: 8px;
}

.header_nav_menu_item_2 {
    width: 9.623%;
    padding-top: 8px;

    a {
        width: 67.568%;
    }
}

.header_nav_menu_item_3 {
    width: 9.363%;
    padding-top: 8px;
}

.header_nav_menu_item_4 {
    width: 8.062%;
    padding-top: 8px;
}

.header_nav_menu_item_5 {
    width: 15.085%;
    padding-top: 8px;

    a {
        width: 79.311%;
    }
}

.header_log_in_button {
    height: inherit;
    width: 11.313%;
    border: 2px solid $purple;
    background-color: $white;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    a {
        color: $purple;
    }

}

.header_log_in_button:hover {
    opacity: 0.5;
}

.header_registration_button {
    height: inherit;
    width: 25.488%;
    background: $purple_gradient;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    a { 
        color: $white;
    }
}

.header_registration_button:hover {
    opacity: 0.5;
}

.header_log_in_button a, .header_registration_button a {
    font-family: $main-font;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
}




